        <!-- Header -->
        <header class="p-3 bg-dark text-white">
            <div class="header-container">
                <div class="search-box">
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                    </form>
                </div>

                <div class="title" style="padding-left: 50px;">
                    <h1>EMPLOYEES</h1>
                </div>
                <!--
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
                -->

                <div class="right">
                    <div class="top">
                        <div class="profile">
                            <div class="info">
                                <p style="color: white;">Welcome back, <b style="color: yellow;">Quan</b>.</p>
                                <p style="color: white;">Position: <b style="color: cyan;">Manager</b></p>
                            </div>                                <div class="profile-photo">
                                <img src="../../img/avatar.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
        <!-- Content -->
        <div class="container">
            <aside>
                <div class="top">
                    <div class="logo">
                        <img src="../../img/logo.png">
                    </div>
                    <div class="close">
                        <span class="material-icons-sharp">close</span>
                    </div>
                </div>
                <div class="sidebar" id="sidebar">
                    <a href="/managers/overview">
                        <span class="material-symbols-outlined"> overview </span>
                        <h3>Overview</h3>
                    </a>
                    <a href="/managers/dashboard">
                        <span class="material-icons-sharp">grid_view</span>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="/managers/orders">
                        <span class="material-symbols-outlined"> list_alt </span>
                        <h3>New Orders</h3>
                        {{#if (eq (countRow orders) 0)}}
                            <span class="message-count" style="display: none;">
                                {{countRow orders}}
                            </span>
                        {{else}}
                            <span class="message-count">
                                {{countRow orders}}
                            </span>
                        {{/if}} 
                    </a>
                    <a href="/managers/staffs">
                        <span class="material-symbols-outlined">groups</span>
                        <h3>Members</h3>
                    </a>
                    <a href="/managers/customers" class="active">
                        <span class="material-icons-sharp">person_outline</span>
                        <h3>Customers</h3>
                    </a>
                    <a href="/managers/notes">
                        <span class="material-symbols-outlined"> format_list_bulleted_add </span>
                        <h3>To-Do Lists</h3>
                        <!--
                        <span class="message-count">23</span>
                        -->
                    </a>
                    <a href="/managers/products">
                        <span class="material-icons-sharp">inventory</span>
                        <h3>Products</h3>
                    </a>
                    <a href="/managers/settings">
                        <span class="material-icons-sharp">settings</span>
                        <h3>Settings</h3>
                    </a>
                </div>
            </aside>

            <main id="dynamic-content">
                <!--
                <div class="date">
                    <input type="date">
                </div>
                -->

                <div class="mt-4">
                    <div class="insights">
                        <div class="sales">
                            <!--
                            <div class="middle">
                                <div class="left">
                                    <button type="button" class="btn btn-primary">Add more members</button>
                                </div>
                            </div>
                            -->
                            <table style="margin-top: 20px;">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Customer</th>
                                        <th>Gender</th>
                                        <th>Phone number</th>
                                        <th>Username</th>
                                        <th>Email address</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each csw_info2}}
                                    <tr>
                                        <td>{{sum @index 1}}</td>
                                        <td>{{this.csw_name}}</td>
                                        <td>{{this.csw_gender}}</td>
                                        <td>{{this.csw_phonenumber}}</td>
                                        <td>{{this.csw_username}}</td>
                                        <td>{{this.csw_emailaddress}}</td>
                                        <td>
                                            {{#unless (eq this.csw_position "Manager")}}
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">Remove</button>
                                            {{/unless}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                    <tr></tr>
                                </tbody>
                            </table>
                        <!--
                        <div class="showall">
                            <a href="#">Show All</a>
                        </div>
                        -->
                        </div>
                </div>
            </main>

            <form method="POST" name="delete-course-form"></form>

            <div id="delete-course-modal" class="modal" tabindex="-1" role="dialog"  style="font-size: 15px;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="font-size: 15px!important;">Delete Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure that you want to delete this customer?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-delete-course" type="button" class="btn btn-primary">Yes</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="right">
                <div class="top">
                </div>

            </div>
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
            var courseID
            var deleteForm = document.forms['delete-course-form']
            var btnDeleteCourse = document.getElementById('btn-delete-course')
            var saveInfoBtn = $('#saveInfoBtn')

            $('#delete-course-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                courseID = button.data('id') 
            })

            btnDeleteCourse.onclick = function()
            {
                deleteForm.action = '/managers/customers/' + courseID + '?_method=DELETE'
                deleteForm.submit()
            }
        })
        </script>

        