        <!-- Header -->
        <header class="p-3 bg-dark text-white">
            <div class="header-container">
                <div class="search-box">
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                    </form>
                </div>

                <!--
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
                -->

                <div class="title" style="padding-left: 50px;">
                    <h1>OVERVIEW</h1>
                </div>

                <div class="right">
                    <div class="top">
                        <div class="profile">
                            <div class="info">
                                <p style="color: white;">Welcome back, <b style="color: yellow;">Quan</b>.</p>
                                <p style="color: white;">Position: <b style="color: cyan;">Employee</b></p>
                            </div>                                <div class="profile-photo">
                                <img src="../../img/avatar.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Content -->
        <div class="container">
            <aside>
                <div class="top">
                    <div class="logo">
                        <img src="../../img/logo.png">
                    </div>
                    <div class="close">
                        <span class="material-icons-sharp">close</span>
                    </div>
                </div>
                <div class="sidebar" id="sidebar">
                    <a href="/employees/overview" class="active">
                        <span class="material-symbols-outlined"> overview </span>
                        <h3>Overview</h3>
                    </a>
                    <a href="/employees/dashboard">
                        <span class="material-icons-sharp">grid_view</span>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="/employees/orders">
                        <span class="material-symbols-outlined"> list_alt </span>
                        <h3>New Orders</h3>
                        <span class="message-count">{{countRow orders}}</span>
                    </a>
                    <a href="/employees/notes">
                        <span class="material-symbols-outlined"> format_list_bulleted_add </span>
                        <h3>To-Do Lists</h3>
                        <!--
                        <span class="message-count">23</span>
                        -->
                    </a>
                    <a href="/employees/products">
                        <span class="material-icons-sharp">inventory</span>
                        <h3>Products</h3>
                    </a>
                    <a href="/employees/settings">
                        <span class="material-icons-sharp">settings</span>
                        <h3>Settings</h3>
                    </a>
                </div>
            </aside>

            <main id="dynamic-content">
                <!--
                <div class="date">
                    <input type="date">
                </div>
                -->

                <div class="insights">
                </div>

                <div class="recent-orders">
                    <h1>Recent Orders <button style="margin-left: 10px;" type="button" class="btn btn-primary" onclick="window.location.href='/employees/dashboard'">More Details</button></h1>
                    <table style="margin-top: 20px;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Customers</th>
                                <th>Phone Number</th>
                                <th>Product/Quantity</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orders}}
                                    <tr>
                                        <td>{{sum @index 1}}</td>
                                        <td>{{this.customer}}</td>
                                        <td>{{this.phonenumber}}</td>
                                        <td>
                                            {{#each this.products}}
                                                {{this.name}} x {{this.quantity}}
                                                {{#unless @last}}<br><hr> {{/unless}}
                                            {{/each}}
                                        </td>
                                        <td>
                                            {{#if (isBool this.declined true)}}
                                                <button type="button" class="btn btn-danger">Declined</button>
                                            {{else}}
                                                {{#if (isBool this.delivered true)}}
                                                <button type="button" class="btn btn-success">Delivered</button>
                                                {{else}}
                                                <button type="button" class="btn btn-warning">Processing</button>
                                                {{/if}}
                                            {{/if}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                    <tr></tr>
                        </tbody>
                    </table>
                    <!--
                    <div class="showall">
                            <a href="#">Show All</a>
                    </div>
                    -->
                </div>
            </main>
            
            <div class="right">
                <main id="dynamic-content">
                    <div class="recent-updates">
                        <div class="insights">
                        <div class="sales">
                            <span class="material-icons-sharp">analytics</span>
                            <div class="middle">
                                <div class="left">
                                    <h3>Total Sales</h3>
                                    <h1>{{getTotal orders}} VND</h1>
                                </div>
                            </div>
                            <small class="text-muted">Last 24 Hours</small>
                        </div>
                    </div>
                </main>

                <div class="recent-updates">
                    <div class="updates">
                        <div class="insights">
                            <span style="display: flex; justify-content: center; align-items: center; font-weight: bold; font-size: 25px;">To-Do Lists</span>
                            <table style="margin-top: 20px; width: 100%;">
                                <thead>
                                    <tr>
                                        <th style="width: 20%;">No</th>
                                        <th style="width: 80%;">Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each notes}}
                                    <tr>
                                        <td>{{sum @index 1}}</td>
                                        <td>{{this.csw_notes}}</td>
                                    <tr></tr>
                                    {{/each}}
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>