        <!-- Header -->
        <header class="p-3 bg-dark text-white">
            <div class="header-container">
                <div class="search-box">
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                    </form>
                </div>

                <div class="title" style="padding-left: 50px;">
                    <h1>PRODUCTS</h1>
                </div>
                <!--
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
                -->

                <div class="right">
                    <div class="top">
                        <div class="profile">
                            <div class="info">
                                <p style="color: white;">Welcome back, <b style="color: yellow;">{{csw_name}}</b>.</p>
                                <p style="color: white;">Position: <b style="color: cyan;">{{csw_position}}</b></p>
                            </div>                                <div class="profile-photo">
                                <img src="../../img/avatar.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
        <!-- Content -->
        <div class="container">
            <aside>
                <div class="top">
                    <div class="logo">
                        <img src="../../img/logo.png">
                    </div>
                    <div class="close">
                        <span class="material-icons-sharp">close</span>
                    </div>
                </div>
                <div class="sidebar" id="sidebar">
                    <a href="/employees/overview">
                        <span class="material-symbols-outlined"> overview </span>
                        <h3>Overview</h3>
                    </a>
                    <a href="/employees/dashboard">
                        <span class="material-icons-sharp">grid_view</span>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="/employees/orders">
                        <span class="material-symbols-outlined"> list_alt </span>
                        <h3>New Orders</h3>
                        {{#if (eq (countRow orders) 0)}}
                            <span class="message-count" style="display: none;">
                                {{countRow orders}}
                            </span>
                        {{else}}
                            <span class="message-count">
                                {{countRow orders}}
                            </span>
                        {{/if}} 
                    </a>
                    <a href="/employees/notes">
                        <span class="material-symbols-outlined"> format_list_bulleted_add </span>
                        <h3>To-Do Lists</h3>
                        <!--
                        <span class="message-count">23</span>
                        -->
                    </a>
                    <a href="/employees/products"  class="active">
                        <span class="material-icons-sharp">inventory</span>
                        <h3>Products</h3>
                    </a>
                    <a href="/employees/settings">
                        <span class="material-icons-sharp">settings</span>
                        <h3>Settings</h3>
                    </a>
                </div>
            </aside>

            <main id="dynamic-content">
                <!--
                <div class="date">
                    <input type="date">
                </div>
                -->

                <div class="mt-4">
                    <div class="insights">
                        <div class="sales">
                            <div class="middle">
                            </div>
                            <input type="text" id="product-searchbar" onkeyup="myFunction()" placeholder="Search for types (Bread, Pastries, Cake Slice, Cheesecake, Drinks, Others).">
                            <table style="margin-top: 20px;" id="myTable">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">No</th>
                                        <th style="width: 15%;">Product</th>
                                        <th>Photo</th>
                                        <th style="width: 15%;">Date added</th>
                                        <th style="width: 10%;">Type</th>
                                        <th style="width: 50%;">Description</th>
                                        <th style="width: 5%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                    <tr>
                                        <td>{{sum @index 1}}</td>
                                        <td>{{this.csw_products}}</td>
                                        <td><img src="{{this.photo}}" alt="{{this.csw_products}}" class="photo"></td>
                                        <td>{{this.createdAt}}</td>
                                        <td>{{this.type}}</td>
                                        <td>{{this.description}}</td>
                                        <td>{{this.price}} VND</td>
                                    </tr>
                                    {{else}}
                                    <tr>
                                        <td colspan="7" class="text-center">
                                        No products added here yet.
                                        </td>
                                    </tr>
                                    {{/each}}
                                    <tr></tr>
                                </tbody>
                            </table>
                        <!--
                        <div class="showall">
                            <a href="#">Show All</a>
                        </div>
                        
                            <small class="text-muted">Last 24 Hours</small>
                        -->
                        </div> 
                </div>
            </main>
            
            <div class="right">
                <div class="top">
                </div>
            </div>
        </div>