<!-- HEADER  -->
  <header class="contact_header">
    <nav class="navbar navbar-expand-lg navbarGaNam">
        <div class="container header__content">
            <img style="width: 50px; height: 50px; margin-right: 20px;" src="../../img/logo.png">
            <a class="navbar-brand logo" href="home">GÀ NẤM</a> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#GaNamNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navigation" id="GaNamNav">
                <ul style="font-size: 20px;" class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="home">HOME</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="about">ABOUT</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" href="gallery">MENU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">CONTACT</a>
                    </li>
                    {{#if isLoggedIn}}
                    <li class="nav-item">
                        <a class="nav-link" href="history">HISTORY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">{{csw_name}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="shoppingcart">
                          <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                      </i>
                    </li>
                    <li class="nav-item">
                      <button class="btnLogin-popup" onclick="window.location.href='/logout'">LOGOUT</button>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <button class="btnLogin-popup" onclick="window.location.href='login'">LOGIN</button>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>

    <!-- CART  -->
   <!-- CART  -->
    <div class="container cart">
        <div class="cart_menu">
            <p class="text sp">Sản phẩm</p>
            <p class="text dg">Đơn giá</p>
            <p class="text sl">Số lượng</p>
            <p class="text st">Số tiền</p>
            <p class="text tt">Thao tác</p>
        </div>
        {{#each info.csw_cart.items}}
        <section class="cart_content">
            <section class="cart_item" role="list">
            <div class="product_name" role="listitem">
                    <div class="sanPham">
                        <div class="ten_hinh">
                            <div class="ten_hinh_item"><a title="hinh_san_pham"><img style="height: 85px; width: 100px;" src="{{this.photo}}"></a>
                                <div class="ten_hinh_text">
                                    <a class=""
                                        title="description_hinh ">{{this.name}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="content_donGia">
                            <div>
                                <span class="donGia_text">{{this.price}}</span>
                            </div>
                        </div>
                        <div class="content_soLuong">
                            <form action="/shoppingcart/changeQuantity" method="POST">
                                <div class="add_minus">
                                    <input class="EOdsa- v3H4Zf" type="text" role="spinbutton" aria-valuenow="1" name="quantity" value="{{this.qty}}" required>
                                    <input type="hidden" name="id" value="{{this.productId}}">
                                    <input type="submit" hidden />
                                </div>
                            </form>
                        </div>
                        <div class="content_soTien">
                            <span>{{this.totalCost}}</span>
                        </div>
                        <div class="content_thaoTac">
                            <form action="/shoppingcart/deleteFromCart" method="POST">
                                <input type="hidden" name="id" value="{{this.productId}}">
                                <button class="fX1Y2g button-pink">Xóa</button>
                            </form>
                        </div>
                    </div>
            </div>

            </section>
        </section>
        {{/each}}
        <section class="cart_total">
            <div class="s1Gxkq">
                <div class="UQv8V6" role="region">
                    <div class="fyYBP1">
                        <div class="aiyQAr">
                            <div class="A-CcKC">Tổng thanh toán:</div>
                            <div class="total">{{info.csw_cart.totalPrice}}</div>
                        </div>
                    </div>
                </div>
                <form action="/shoppingcart/sendToOrder" method="POST">
                    <input type="hidden" name="id" value="{{info.csw_cart}}">
                    <button class="button-pink"><span class="TTXpRG">Mua
                        hàng</span></button>
                </form>
            </div>
        </section>
    </div>

    <!-- FOOTER  -->
    <footer>
        <div class="footer__main row">
            <div class="footer__item col-3">
                <h3>About Us</h3>
                <p>Welcome to your neighborhood bakery café.</p>
                <p>Where smiles are served daily
                  Enjoy delicious pastries, warm breads, stunning cakes and expertly brewed drinks while feeling right at home.</p>
                <div class="footer__social">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-google-plus-g"></i>
                    <i class="fab fa-twitter"></i>
                </div>
    
            </div>
            <div class="footer__item col-3">
                <h3>Working Time</h3>
                <div class="footer__time">
                    <p>Monday</p>
                    <p>9h30 - 18h30</p>
                </div>
                <div class="footer__time">
                    <p>Tuesday</p>
                    <p>9h30 - 18h30</p>
                </div>
                <div class="footer__time">
                    <p>Wednesday</p>
                    <p>9h30 - 18h30</p>
                </div>
                <div class="footer__time">
                    <p>Thursday</p>
                    <p>9h30 - 18h30</p>
                </div>
                <div class="footer__time">
                    <p>Friday</p>
                    <p>9h30 - 18h30</p>
                </div>
                <div class="footer__time">
                    <p>Saturday</p>
                    <p>9h30 - 18h30</p>
                </div>
                <div class="footer__time">
                    <p>Sunday</p>
                    <p>9h30 - 18h30</p>
                </div>
            </div>
            <div class="footer__item col-3">
                <h3>Twitter Us</h3>
                <p>Masters at Work</p>
                <p>Community is at our Core</p>
                <p>Happy to see you. </p>
                <p>Happier to serve you.</p>
            </div>
            <div class="footer__item col-3">
                <h3>SUBSCRIBE US</h3>
                <form class="footer__sub">
                    <input type="email" name="" id="" placeholder="name@example">
                    <button class="button-pink" type="submit">Send</button>
                </form>
                <p>Thank you for your interest in reaching out to us! Fill out the feedback form and a member of our team will be in touch soon.</p>
            </div>
        </div>
        <div class="footer__copyright">
            <p> Copyright &copy; 2023 <span>Gà Nấm Cake Shop</span>. All rights reserved.</p>
        </div>
      </footer>

